html {overflow-y: scroll; background-color: #f0f0f0}
header {font-family: monospace;}
body{
	max-width:700px;
	margin:40px auto;
	padding:0 10px;
	font-family: "Ubuntu", sans-serif;
	font-size: 1.1rem;
	line-height: 1.7rem;
	font-weight: 400;
	color:rgb(90,90,90)
}
h1,h2,h3{line-height:1.2}
p > code{color: #FFFFFF; background:#000000; padding:2px}
pre{color: #FFFFFF; background:#000000; padding:24px; overflow-x: auto}
article{padding:24px 0}
.center {display: block;margin-left: auto;margin-right: auto;width: 100%;}
img {display: block; max-width: 100%; height: auto;}
img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}
figcaption {color: #888; font-size: 1.0rem; line-height: 1.4rem; text-align: center;}
figure {margin: auto}

a {color: #326891; outline: none; text-decoration: none; padding: 2px 1px 0; font-family: "Ubuntu", sans-serif; border-bottom: 1px solid; border-color: rgb(50, 104, 145);}
a:link {color: #326891;}
a:focus {border-bottom: 4px solid; border-color: #ff3e3e}
a:hover {border-bottom: 0px solid;}
