
html {overflow-y: scroll; background-color: #f0f0f0}

header {font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue",  sans-serif;}

body{
	max-width:800px;
	margin:40px auto;
	padding:0 10px;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue",  sans-serif;
	font-size: 1.1rem;
	line-height: 1.9rem;
	font-weight: 400;
	color:rgb(50,50,50)
}

time {
    font-size: 1.1rem;
    color: rgb(130,130,130);
}


h1,h2,h3{line-height:1.2; color: rgb(80,80,80);}

h2 a {
    border-bottom: none;
    margin-bottom: -2.1rem;
}

span {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue",  sans-serif;
	font-weight: bold;
}

p > code{color: #FFFFFF; background:#000000; padding:2px}
pre{color: #FFFFFF; background:#000000; padding:24px; overflow-x: auto}
article{padding:24px 0}
.center {display: block;margin-left: auto;margin-right: auto;width: 100%;}
img {display: block; max-width: 100%; height: auto;}
img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}
figcaption {color: #888; font-size: 1.0rem; line-height: 1.4rem; text-align: center;}
figure {margin: auto}

a {color: rgb(50, 104, 145);}
a:hover {color: rgb(200, 124, 145);}

nav a, nav span {
padding: 0.5rem 0.5rem 0.5rem 0.5rem; 
}
a.active {
    color: #ffffff;
    background: rgb(50, 104, 145);
    font-weight: bold;
    text-decoration: none;
}
a.active:hover {
    background: rgb(200, 124, 145);
}
.atag {
    font-size: 1rem;
    color: #555!important;
    background-color: #ddd;
    border-bottom: none;
    font-weight: 500;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.1rem;
    text-decoration: none;
}

.atag:hover {
    color: #000!important;
    background-color: #e0e0e0;
}

hr.light {
    border: 1px dashed #cccccc;
}

blockquote {
    font-family: "Noto Serif", "Times New Roman", Times, serif;
}
